# BPM/SOA/ADF generados
**/SOA/SCA-INF/classes/
**/classes/
**/build/
**/deploy/
**/dist/
**/target/
**/.data/

# Java compilado
*.class

# Temporales
*.log
*.tmp
*.bak
*.orig
*.data
*.jdb	
.DS_Store
Thumbs.db
